---
import { slugifyStr } from "@utils/slugify";
import Datetime from "./Datetime";
import TypeBadge from "./TypeBadge.astro";
import FeaturedBadge from "./FeaturedBadge.astro";
import type { CollectionEntry } from "astro:content";
import getPostType from "@utils/getPostType";

export interface Props {
  href?: string;
  post: CollectionEntry<"blog">;
  secHeading?: boolean;
}

const { href, post, secHeading = true } = Astro.props;
const { title, pubDatetime, modDatetime, description, featured } = post.data;
const postType = getPostType(post);

const headerStyle = { viewTransitionName: slugifyStr(title) };
const headerClass = "text-lg font-medium decoration-dashed hover:underline";
---

<li class="my-6">
  <a
    href={href}
    class="inline-block text-lg font-medium text-skin-accent decoration-dashed underline-offset-4 focus-visible:no-underline focus-visible:underline-offset-0"
  >
    {secHeading ? (
      <h2 style={headerStyle} class={headerClass}>{title}</h2>
    ) : (
      <h3 style={headerStyle} class={headerClass}>{title}</h3>
    )}
  </a>
  <div class="my-2 flex flex-wrap items-center gap-2">
    <TypeBadge type={postType} />
    {featured && <FeaturedBadge />}
  </div>
  <Datetime pubDatetime={pubDatetime} modDatetime={modDatetime} />
  <p>{description}</p>
</li>
